  /* forgot password */
  /* #forgot-password {
    height: 100%;
  } */
  #forgot-password-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    /* height: 100%; */
  }
  #forgot-password-form #email {
    width: 450px;
  }
  
  #forgot-password-form #forgotpassword-btn {
    width: 100px;
  }
  