<% if(isAuthenticated){ %>
<!-- popup call-->
<div id="incoming-call-dialog" class="incoming-call-dialog">
    <div id="call-canceled">The caller cancelled the call</div>
    <div id="incoming-call-dialog-action">
        <div id="dialog-header">
            <img id="dialog-photo" src="" alt="">
            <p id="dialog-username"></p>
        </div>
        <div class="incoming-call-dialog-question">Do you really want to accept the call?</div>
        <div class="incoming-call-dialog-button-group">
            <button id="accept-incoming-call-btn" class="dialog-button" type="button">Aceptar</button>
            <button id="reject-incoming-call-btn" class="dialog-button" type="button">Cancelar</button>
        </div>
    </div>
</div>
<% } %>

<script src="/js/script.js"></script>
<script src="/js/script-user.js"></script>

<% if(isAuthenticated){ %>
<!-- polyfill for html5 date input -->
<!-- cdn for modernizr, if you haven't included it already -->
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
<!-- polyfiller file to detect and load polyfills -->
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
<script>
    webshims.setOptions('waitReady', false);
    webshims.setOptions('forms-ext', { types: 'date' });
    webshims.polyfill('forms forms-ext');
</script>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/call.js"></script>

<% } %>

<!-- footer -->
<footer id="footer" class="footer">
    <!-- <a class="footer-link" href="">about us</a>
    <a class="footer-link" href="">compartir</a> -->
</footer>

</body>

</html>