<a class="lateral-menu-link  <%= currentLink === 1 ? 'lateral-menu-current-link' : '' %>" 
        href="/users/friendship-requests/received">Solicitudes recibidas</a>
<a class="lateral-menu-link  <%= currentLink === 2 ? 'lateral-menu-current-link' : '' %>" 
    href="/users/friendship-requests/send">Solicitudes enviadas</a>
