<a class="lateral-menu-link <%= currentLink === 1 ? 'lateral-menu-current-link' : '' %>" 
        href="/users/menu">Todos los usuarios</a>
<a class="lateral-menu-link <%= currentLink === 2 ? 'lateral-menu-current-link' : '' %>"
    href="/users/online-users">Usuarios online</a>
<a class="lateral-menu-link <%= currentLink === 3 ? 'lateral-menu-current-link' : '' %>"
    href="/users/searchusersbyusername">Buscar usuario por nombre</a>
<a class="lateral-menu-link <%= currentLink === 4 ? 'lateral-menu-current-link' : '' %>"
    href="/users/searchusers"> Busqueda filtrada de usuarios</a>
   

