<% if(isProfileCreated){ %>
<a class="lateral-menu-link <%= currentLink === 1 ? 'lateral-menu-current-link' : '' %>" href="/users/editprofile">
    Edit profile
</a>
<%}%>

<% if(registrationMethod==="email"){ %>
<a class="lateral-menu-link <%= currentLink === 2 ? 'lateral-menu-current-link' : '' %>" href="/changepassword">
    Change password
</a>
<%}%>

<!-- if reg method email -->
<% if(registrationMethod==="email"){ %>
<a class="lateral-menu-link <%= currentLink === 3 ? 'lateral-menu-current-link' : '' %>" href="/delete-account">Delete
    account</a>
<!-- if reg method google facebook -->
<%} else if(registrationMethod==="google" || registrationMethod==="facebook"){ %>
<a class="lateral-menu-link <%= currentLink === 3 ? 'lateral-menu-current-link' : '' %>"
    href="/delete-account-gf">Delete account</a>
<%}%>