<a class="lateral-menu-link <%= currentLink === 1 ? 'lateral-menu-current-link' : '' %>"
    href="/users/myfriends-online">Amigos online</a>
<a class="lateral-menu-link <%= currentLink === 2 ? 'lateral-menu-current-link' : '' %>" 
    href="/users/myfriends">Todos mis amigos</a>
<a class="lateral-menu-link <%= currentLink === 3 ? 'lateral-menu-current-link' : '' %>"
    href="/users/blocked-users">Usuarios bloqueados</a>
<a class="lateral-menu-link <%= currentLink === 4 ? 'lateral-menu-current-link' : '' %>"
    href="/users/searchfriend">Buscar amigo</a>