<%- include('../includes/head-admin.ejs') %>
</head>

<body>

    <%- include('../includes/navigation-admin.ejs') %>

    <div class="content">
        <div class="page-center">
            <h1 class="main-error-msg">Page Not Found!</h1>
            <h2 class="secondary-error-msg">404 error</h2>
            <img id="error-404-img" src="/img/404-error-img.jpg" alt="404 error image">
        </div>
    </div>
    <%- include('../includes/end-admin.ejs') %>