<a class="lateral-menu-link <%= optionSelected === 'action' ? 'lateral-menu-current-link' : '' %>"
        href="/admin/user-account-action/action">Ban or delete user account</a>

<a class="lateral-menu-link <%= optionSelected === 'see-banned-users' ? 'lateral-menu-current-link' : '' %>"
        href="/admin/user-account-action/see-banned-users">Banned users list</a>

<a class="lateral-menu-link <%= optionSelected === 'see-accounts-deleted' ? 'lateral-menu-current-link' : '' %>"
        href="/admin/user-account-action/see-accounts-deleted">Deleted accounts list</a>