<!-- msg -->
<div id="top-msg" class="msg msg-success msg-visibility-hide">
    <p class="msg-indiv" id="top-msg-text"></p>
</div>

<div id="user-account-action-search-user-container">
    <%- include('../../users/search-friend-username.ejs', {userType: "User", userTypeL:"user"}) %>
    <!-- <button>Search user</button> -->
</div>