<%- include('../../includes/head.ejs') %>
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <%- include('../../includes/navigation.ejs') %>
    <div class="content">

        <% if (errorMessage) { %>
        <% for (let error of errorMessage) { %>
        <div class="msg msg-error">
            <p class="msg-indiv"><%= error %></p>
        </div>
        <% } %>
        <% } %>

    </div>

    <%- include('../../includes/end.ejs') %>