<script src="/js/script.js"></script>
<script src="/js/script-admin.js"></script>

<% if(isAuthenticated){ %>
<!-- <script src="/socket.io/socket.io.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<% } %>

<!-- footer -->
<footer id="footer" class="footer">
    <!-- <a class="footer-link" href="">about us</a>
    <a class="footer-link" href="">compartir</a> -->
</footer>

</body>