<a class="lateral-menu-link <%= optionSelected === 'lastlogins' ? 'lateral-menu-current-link' : '' %>"
        href="/admin/lastlogins">Last logins</a>

<a class="lateral-menu-link <%= optionSelected === 'changepassword' ? 'lateral-menu-current-link' : '' %>"
        href="/admin/changepassword">Change password</a>

