<a class="lateral-menu-link <%= optionSelected === 'pending' ? 'lateral-menu-current-link' : '' %>"
        href="/admin/users-messages/pending">Mensajes pendientes <span id="pending-messages-number-lateral-menu">0</span></a>

<a class="lateral-menu-link <%= optionSelected === 'replied' ? 'lateral-menu-current-link' : '' %>" 
        href="/admin/users-messages/replied">Mensajes respondidos</a>

<a class="lateral-menu-link <%= optionSelected === 'ignored' ? 'lateral-menu-current-link' : '' %>"
        href="/admin/users-messages/ignored">Mensajes ignorados</a>
 